*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --red:hsl(0, 100%, 74%);
    --green:hsl(154, 59%, 51%);
    --blue:hsl(248, 32%, 49%);
    --Dblue: hsl(249, 10%, 26%);
    --grayishblue:hsl(246, 25%, 77%);


    --ff: 'Poppins', sans-serif;
    --ffL: 400;
    --ffM: 500;
    --ffB: 600;
    --ffBB: 700;

}

body{
    background-image: url('images/bg-intro-mobile.png');
    background-color: var(--red);
    font-family: var(--ff);
    line-height: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.container{
    padding: 5rem 1.5rem;
    display: flex;
    flex-direction: column;
    max-width: 500px;

}

h1{
    color: white;
    font-size: 1.65rem;
    line-height: 2rem;
    font-weight: var(--ffBB); /*check if its BB */
    padding-block: 1.25rem;
}

.test-container p{
    color: white;
    font-weight: var(--ffL);
    
}


.form-container{
    padding-block: 4rem;
}

.info-container{
    background-color: var(--blue);
    color: white;
    padding: 1rem 3rem;
    border-radius: 10px;
}


.info-container p{
    font-weight: var(--ffL);
    opacity: 1;

}
.info-container p strong{ 
    font-weight: var(--ffB);
    
}

form{
    background-color: white;
    margin-block: 1.5rem ;
    border-radius: 10px;
    padding: 1rem;
}
.active{
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid var(--grayishblue);
    outline: none;
    margin-bottom: 1.5rem;
}

.active::placeholder{
    color: var(--Dblue);
    font-weight: var(--ffB);
    font-size: .9rem;
    opacity: .75;
}

.big-error .active::placeholder{
    color: #e45557;
}

.error{
    position: relative;
    color: #EB999A;
    text-align: right;
    padding: .25rem .75rem 1rem 0;
    font-size: .75rem;  
    display: none; 
}

.error::after{
    content: '';
    background-image: url('images/icon-error.svg');
    background-repeat: no-repeat;
    position: absolute;
    top: -37px;
    right: 0px;
    left: 90%;
    bottom: 0;
    width: 50px;
    height: 50px;
    
}
.border{
    border: 1px solid red;
}

button{
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    background-color: var(--green);
    color: white;
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: var(--ffB);
    letter-spacing: .15rem;
    transition: all 250ms ease-in-out;
}
button:hover{
    background-color: hsl(154, 72%, 63%);
}

.terms{
    padding-top: 1rem;
    color: var(--grayishblue);
    font-size: .75rem;
    font-weight: var(--ffM);
}

span{
    color: var(--red);
    font-weight: var(--ffB);
}


@media screen and (min-width:900px){
    body{
        height:800px;
    }
    .container{
        flex-direction: row;
        min-width: 100%;
        
    }
    .test-container{
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        padding: 4rem;
    }

    .info-container{
        flex: 1 1 50%;
    }
    
    form{
        padding: 3rem;
        width: 550px;
     
    }

    h1{
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 1rem;
    }
    .test-container p{
        line-height: 1.75rem;
    }
    
}